body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: rgb(223,200,134);
    background: linear-gradient(180deg, rgba(223,200,134,0.8) 0%, rgba(109,98,67,1) 100%);
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img/bg.png");
    background-size: cover;
}
.color-indice {
    color: #DFC886;
}
.text-shadow{
    text-shadow: #000000 0px 0px 10px;
}
#popup-indice {
    position: absolute;
    float: left;
    width: auto;
    height: auto;
    top: 490px;
    left:160px;
    background: white;
    border-style: inset;
    border-radius: 10px 10px 10px 0px;
    padding: 15px 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.5);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: white;
}
header > .logo {
    width: 50px;
    height: auto;
    z-index: 10;
}
header > .number-current > p {
    font-size: 40px;
    margin-right: 10px;
}
header > .logo:hover {
    cursor: pointer;
    background-image: url("/assets/img/logo-hover.png");
    background-size: contain;
}
.main > .indice-2 {
    position: absolute;
    width: 250px;
    height: auto;
    left: 0;
    bottom: 90px;
    z-index: 1;
}
.main > .indice-2:hover {
    cursor: pointer;
}