@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');

font-face {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
    background-image: url("/assets/img/bg-windows-full.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size:15px;
    color: white;
    font-weight: 300;
}
.color-indice {
    color: #797979;
}
.text-shadow {
    text-shadow: #000000 0px 0px 10px;
}
#popup-indice {
    position: absolute;
    float: left;
    width: auto;
    height: auto;
    top: 500px;
    left:160px;
    background: white;
    border-radius: 10px 10px 10px 0%;
    padding: 15px 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.5);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    height: 100%;
    grid-gap: 50px;
    margin-top: -150px;
}

.main > .container-img {
    width: 500px;
    height: auto;
}

.main > .container-img > img {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}

.main > .container-img > .login {
    position: absolute;
    top: 51.2%;
    z-index: 1;
    width: 283px;
    display: flex;
    flex-direction: column;
    grid-gap: 11px;
    margin-left: 110px;
}
.main > .container-img > .login > input {
    height: 21px;
    font-size: 12px;
    padding: 2px 5px;
    font-weight: 400;
}

.main > .indice-2 {
    position: absolute;
    width: 250px;
    height: auto;
    left: 0;
    bottom: 90px;
    z-index: 1;
}
.main > .indice-2:hover {
    cursor: pointer;
}