@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --border-color: black;
  --background-color: #c3c7ca;
  --text-color: #34444f;
}

* {
  box-sizing: border-box;
}
body {
  background: url(/assets/img/bg.png),linear-gradient(#DFC886,#6D6243);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 0;
  height: 100vh;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  font-family: 'Poppins', sans-serif;
}
.color-indice {
  color: #E5DCC3;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background-color: white;
}
header > .logo {
  width: 50px;
  height: auto;
  z-index: 10;
}
header > .number-current > p {
  font-size: 40px;
  margin-right: 10px;
}
#popup-indice {
  position: absolute;
  float: left;
  width: auto;
  height: auto;
  top: 490px;
  left:160px;
  background: white;
  border-radius: 10px 10px 10px 0%;
  padding: 15px 15px;
  box-shadow: 0 0 10px 0 rgba(0,0,0, 0.5);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
h2{
  font-size: 15px;
  text-align: center;
  color: white;
}

g{
  color: #E5DCC3;
  text-shadow: #000000 0px 0px 10px;
}

.container {
  padding: 5% 22% 5% 22%;
}

.section {
  padding-top: 30px;
  padding-bottom: 70px;
  padding-right: 300px;
  padding-left: 300px;
}



.text-normal{
  text-align: center;
  padding-top: 10px;
}

.border-screen{
  border: 1px solid black;
  background-color: white;
  padding: 0px 242px 130px 242px;
  border-radius: 15px;
}

.draggable-list {
  border: 1px solid black;
  color: var(--text-color);
  padding: 0;
  list-style-type: none;
}

.draggable-list li {
  background-color: white;
  display: flex;
  flex: 1;
}

.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.draggable-list .number {
  /* background-color: var(--background-color); */
  border: 1px solid black;
  background-color: #E5DCC3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  height: 60px;
  width: 60px;
}

.draggable-list li.over .draggable {
  background-color: #eaeaea;
}

.draggable-list .person-name {
  margin: 0 20px 0 0;
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
  background-color: rgb(233, 233, 233);
}

.check-btn {
  background-color: rgb(195, 240, 193);
  border: none;
  box-shadow: 2px 2px 2px 2px gray;
  color: var(--text-color);
  font-size: 16px;
  padding: 10% 150%;
  cursor: pointer;
  border-radius: 5px;
}

.center {
  margin: 0;
  position: absolute;
  left: 43%;
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}
.indice-2 {
  position: absolute;
  width: 250px;
  height: auto;
  left: 0;
  bottom: 90px;
  z-index: 1;
}
.indice-2:hover {
  cursor: pointer;
}